body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#000814,#001d3d);
}

/* CONTENEDOR */
.contenedor{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* TARJETA */
.tarjeta{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:900px;
    margin:80px auto 40px auto;
    padding:40px;
    background:#0f172a;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.6);
}

/* TEXTO */
.info{
    width:60%;
    color:white;
}

h1{
    font-size:40px;
    margin-bottom:15px;
}

/* BOTONES */
.botones button{
    background:black;
    color:white;
    border:none;
    padding:10px 18px;
    margin:5px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.botones button:hover{
    background:#0066ff;
    box-shadow:0 0 10px #0066ff;
}

/* CONTENIDO */
.contenido{
    margin-top:20px;
    padding:15px;
    background:#334155;
    border-radius:10px;
    min-height:80px;
    color:white;
    transition:0.3s;
}

/* CONTACTO */
.contacto{
    margin-top:25px;
}

.contacto a{
    color:#38bdf8;
    text-decoration:none;
    margin:0 5px;
    font-weight:bold;
}

.contacto a:hover{
    color:#60a5fa;
    text-shadow:0 0 8px #38bdf8;
}

/* HABILIDADES */
.skills{
    margin-top:15px;
    font-size:18px;
    color:white;
}

/* LADO DERECHO */
.lado-derecho{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.foto{
    width:260px;
    height:260px;
    border-radius:50%;
    overflow:hidden;
    box-shadow:0 0 25px rgba(0,0,0,0.5);
    transition: box-shadow 0.4s ease;
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: transform 0.4s ease;
}

.foto:hover{
    box-shadow:0 0 30px #2563eb;
}

.foto:hover img{
    transform: scale(1.08);
}


/* IMAGEN PORTAFOLIO ABAJO */
.img-portafolio{
    width:220px;
    margin-top:25px;
    border-radius:15px;
    transition:0.3s;
}

.img-portafolio:hover{
    transform:scale(1.05);
}
