body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0b132b, #1c2541, #3a506b);
}

/* CONTENEDOR PRINCIPAL */
.contenedor{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}

/* TARJETA */
.tarjeta{
    background: #1e293b;
    color: #e2e8f0;        
    width:90%;
    max-width:1200px;
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 60px rgba(0,0,0,0.15);
    display:flex;
    align-items:center;
    justify-content:space-between;
    animation:entrada 1.2s ease;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.tarjeta:hover{
    transform: translateY(-6px);
    box-shadow:0 25px 70px rgba(0,0,0,0.2);
}

@keyframes entrada{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

/* INFO */
.info{
    width:60%;
}

h1{
    font-size:42px;
    margin-bottom:15px;
    letter-spacing:1px;
}

/* FOTO */
.foto{
    width:260px;
    height:260px;
    border-radius:50%;
    overflow:hidden;
    box-shadow:0 0 25px rgba(0,0,0,0.3);
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: transform 0.5s ease;
}

.foto:hover img{
    transform: scale(1.1);
}

/* BOTONES */
.botones{
    margin-top:25px;
}

.botones button{
    background:black;
    color:white;
    border:none;
    padding:10px 20px;
    margin:6px;
    border-radius:12px;
    cursor:pointer;
    transition: all 0.3s ease;
    font-weight:500;
}

.botones button:hover{
    background:#0066ff;
    box-shadow:0 8px 20px rgba(0,102,255,0.4);
    transform: translateY(-2px);
}

/* CONTENIDO */
.contenido{
    margin-top:25px;
    padding:20px;
    background: #334155;
    color: #f1f5f9;
    border-radius:12px;
    min-height:120px;
    transition:0.4s;
    line-height:1.6;
    font-size:15px;
}

.contenido ul{
    padding-left:20px;
}

.contenido p{
    margin:4px 0;
}


.contenido p{
    margin:4px 0;
}
.contenido{
    font-weight: bold;
}



/* CONTACTO */
.contacto{
    margin-top:30px;
    font-size:14px;
}

.contacto a{
    text-decoration:none;
    color: #38bdf8;
    font-weight:500;
}

.contacto a:hover{
    text-decoration:underline;
}

/* SKILLS */
.skills{
    margin-top:15px;
    font-size:16px;
    color: #38f8ef;  
    font-weight:600;
}

/* RESPONSIVE */
@media(max-width:900px){
    .tarjeta{
        flex-direction:column-reverse;
        text-align:center;
    }

    .info{
        width:100%;
    }

    .foto{
        margin-bottom:25px;
    }
}